body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    text-align: center;
}

.clock {
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.228);
}

.clock::before {
    /* background-color: rgb(224, 208, 208); */
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: relative;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94, 104, 121, 0.228);
    
}

.clock::after {
    /* background-color: black; */
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    /* right: 50px; */
    border-radius: 50%;
    box-shadow:  -3px -3px 7px #ffffff73,
                 3px 3px 5px rgba(94, 104, 121, 0.228);
}


.clock .center-nut {
    background-color: rgb(187, 53, 199);
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: 2;
    border: 3px solid yellow;
    border-radius: 50%;
    /* right: 117px; */
}
.indicator {
    position: absolute;
   
}
.indicator div {
    position: absolute;
    width: 4px;
    height: 10px;
    background: blue;
}

.indicator div:nth-child(1) {
    border-radius: 50%;
    transform: rotate(30deg) translateY(-120px);
}

.indicator div:nth-child(2) {
    border-radius: 50%;
    transform: rotate(60deg) translateY(-120px);
}
.indicator div:nth-child(3) {
    border-radius: 5px;
    background: rgb(10, 202, 26);
    height: 20px;
    transform: rotate(90deg) translateY(-115px);
}.indicator div:nth-child(4) {
    border-radius: 50%;
    transform: rotate(120deg) translateY(-118px);
}.indicator div:nth-child(5) {
    border-radius: 50%;
    transform: rotate(150deg) translateY(-117px);
}
.indicator div:nth-child(6) {
    border-radius: 5px;
    background: rgb(10, 202, 26);
    height: 20px;
    transform: rotate(180deg) translateY(-108px);
}
.indicator div:nth-child(7) {
    border-radius: 50%;
    transform: rotate(210deg) translateY(-118px);
}
.indicator div:nth-child(8) {
    border-radius: 50%;
    transform: rotate(240deg) translateY(-120px);
}
.indicator div:nth-child(9) {
    border-radius: 5px;
    height: 20px;
    background: rgb(10, 202, 26);
    transform: rotate(270deg) translateY(-118px);
}
.indicator div:nth-child(10) {
    border-radius: 50%;
    transform: rotate(300deg) translateY(-120px);
}
.indicator div:nth-child(11) {
    border-radius: 50%;
    transform: rotate(330deg) translateY(-120px);
}
.indicator div:nth-child(12) {
    border-radius: 5px; 
    height: 20px;
    background: rgb(10, 202, 26);
    transform: rotate(360deg) translateY(-123px);
}

.sec-hand, .min-hand, .hr-hand {
    position: absolute;
    
}

.sec-hand, .sec {
    height: 180px;
    width: 180px;
    z-index: 6;
    /* background: black; */
}

.min-hand, .min {
    height: 180px;
    width: 180px;
    z-index: 5;
    /* background: black; */
}

.hr-hand, .hr {
    height: 180px;
    width: 180px;
    z-index: 4;
    /* background: black; */
}

.sec, .min, .hr {
    display: flex;
    justify-content: center;
    position: absolute;
}

.sec::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 110px;
    background: rgb(13, 209, 223);
    position: absolute;
}

.sec::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 35px;
    top: 108px;
    background: rgb(13, 209, 223);
    border-radius: 5px;
}

.min::before {
    position: absolute;
    content: '';
    width: 1px;
    top: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 60px solid rgb(205, 60, 235);
}

.min::after {
    position: absolute;
    content: '';
    width: 3px;
    top: 60px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 30px solid rgb(205, 60, 235);
}

.hr::before {
    position: absolute;
    content: '';
    width: 2px;
    top: 30px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 30px solid yellow;
}

.hr::after {
    position: absolute;
    content: '';
    width: 4px;
    top: 60px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 25px solid yellow;
}